<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="vendor/jquery-easyui-1.5.4.1/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="vendor/jquery-easyui-1.5.4.1/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="vendor/styles.css">
    <script type="text/javascript" src="vendor/jquery-easyui-1.5.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="vendor/jquery-easyui-1.5.4.1/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="vendor/tabs.js"></script>

    <style scoped="scoped">
        .tb{
            width:100%;
            margin:0;
            padding:5px 4px;
            border:1px solid #ccc;
            box-sizing:border-box;
        }
        .box-center{
            position: relative;
            width: 400px;
            margin: 130px auto;
        }
    </style>
    <script type="text/javascript">
      var verifyCallback = function(response) {
        console.log(response);
        $("#res-recaptcha").attr("value", response);
      };
      var onloadCallback = function() {
       grecaptcha.render('recaptcha', {
          'sitekey' : '6Lef9UMUAAAAAGW6BRDqAX9FFXGP1OHzZ9Q6CwpS',
          'callback' : verifyCallback
        });
      };
    </script>
</head>
<body style="background-color: #edeff2;">
