<div title="User Management" style="padding: 3px;">
    <table id="dg" title="User List" class="easyui-datagrid" url="/usermanagement/get-users"
        toolbar="#toolbar" pagination="true"
        rownumbers="true" fitColumns="true" singleSelect="true">
        <thead>
            <tr>
                <th field="username" width="50">User Login</th>
                <th field="password" width="50">Password</th>
                <th field="fullname" width="50">Full Name</th>
                <th field="telephone" width="50">Telepon No</th>
                <th field="email" width="50">Email Address</th>
                <th field="access_level" width="50">Access Level</th>
                <th field="language" width="50">Language</th>
                <th field="user_POS" width="50">User's POS</th>
                <th field="printing_profile" width="50">Printing Profile</th>
                <th field="use_popup" width="50">Use Popup window for Reports</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newUser()">New User</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editUser()">Edit User</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyUser()">Remove User</a>
    </div>
</div>

<div id="dlg" class="easyui-dialog" style="width:400px"
        closed="true" buttons="#dlg-buttons">
    <form id="fm" method="post" novalidate style="margin:0;padding:20px 50px">
        <div style="margin-bottom:20px;font-size:14px;border-bottom:1px solid #ccc">User Information</div>
        <div style="margin-bottom:10px">
            <input name="username" class="easyui-textbox" required="true" label="Username:" style="width:100%">
        </div>
        <div style="margin-bottom:10px">
            <input name="password" class="easyui-passwordbox" required="true" label="Password:" style="width:100%">
        </div>
        <div style="margin-bottom:10px">
            <input name="fullname" class="easyui-textbox" required="true" label="Fullname:" style="width:100%">
        </div>
        <div style="margin-bottom:10px">
            <input name="telephone" class="easyui-textbox" required="true" label="Telephone No:" style="width:100%">
        </div>
        <div style="margin-bottom:10px">
            <input name="email" class="easyui-textbox" required="true" validType="email" label="Email:" style="width:100%">
        </div>
        <div style="margin-bottom:10px">
            <select name="access_level" class="easyui-combobox" required="true" validType="access_level" label="Access Level:" style="width:100%">
                <% for(var i=0; i < role.length; i++) { %>
                    <option value="<%= role[i].role_code %>"><%= role[i].role_name %></option>
                <% } %>
            </select>
        </div>
        <div style="margin-bottom:10px">
            <select name="language" class="easyui-combobox" required="true" validType="language" label="Language:" style="width:100%">
                <option selected="" value="C">English</option>
            </select>
        </div>
        <div style="margin-bottom:10px">
            <select name="user_POS" class="easyui-combobox" required="true" validType="user_POS" label="User's POS:" style="width:100%">
                <option selected="" value="1">Default</option>
            </select>
        </div>
        <div style="margin-bottom:10px">
            <select name="printing_profile" class="easyui-combobox" required="true" validType="printing_profile" label="Printing Profile:" style="width:100%">
                <option selected="" value="Browser printing support">Browser printing support</option>
                <option value="Central">Central</option>
                <option value="Out of office">Out of office</option>
                <option value="Sales Department">Sales Department</option>
            </select>
        </div>
        <div style="margin-bottom:10px">
            Popup Window for Reports:
            <input type="checkbox" name="use_popup" class="easyui-checkbox" label="Popup Window for Reports">
        </div>
    </form>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveUser()" style="width:90px">Save</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">Cancel</a>
</div>
<script>
    var url;
    function newUser(){
        $('#dlg').dialog('open').dialog('center').dialog('setTitle','New User');
        $('#fm').form('clear');
        url = 'usermanagement/add-user';
    }
    function editUser(){
        var row = $('#dg').datagrid('getSelected');
        if (row){
            $('#dlg').dialog('open').dialog('center').dialog('setTitle','Edit User');
            $('#fm').form('load',row);
            url = 'usermanagement/update-user?id='+row._id;
        }
    }
    function saveUser(){
        $('#fm').form('submit',{
            url: url,
            onSubmit: function(){
                return $(this).form('validate');
            },
            success: function(result){
                var result = eval('('+result+')');
                if (result.errorMsg){
                    $.messager.show({
                        title: 'Error',
                        msg: result.errorMsg
                    });
                } else {
                    $('#dlg').dialog('close');        // close the dialog
                    $('#dg').datagrid('reload');    // reload the user data
                }
            }
        });
    }
    function destroyUser(){
        var row = $('#dg').datagrid('getSelected');
        if (row){
            $.messager.confirm('Confirm','Are you sure you want to destroy this user?',function(r){
                if (r){
                    $.post('usermanagement/delete-user',{id:row._id},function(result){
                        if (result.success){
                            $('#dg').datagrid('reload');    // reload the user data
                        } else {
                            $.messager.show({    // show error message
                                title: 'Error',
                                msg: result.errorMsg
                            });
                        }
                    },'json');
                }
            });
        }
    }
</script>