<div title="Menu" style="padding: 3px;">
    <table id="dg4" title="Menu Setting" class="easyui-datagrid" url="/menu/get-menus"
        toolbar="#toolbar4" pagination="true"
        rownumbers="true" fitColumns="true" singleSelect="true">
        <thead>
            <tr>
                <th field="menu_name" width="50">Menu Name</th>
                <th field="menu_role" width="50">Menu Role</th>
                <th field="description" width="50">Menu Description</th>
                <th field="status" width="50">Status</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar4">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newMenu()">New Menu</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editMenu()">Edit Menu</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyMenu()">Remove Menu</a>
    </div>
</div>

<div id="dlg4" class="easyui-dialog" style="width:400px"
        closed="true" buttons="#dlg-buttons4">
    <form id="fm4" method="post" novalidate style="margin:0;padding:20px 50px">
        <div style="margin-bottom:20px;font-size:14px;border-bottom:1px solid #ccc">Menu Information</div>
        <div style="margin-bottom:10px">
            <input name="menu_name" class="easyui-textbox" required="true" label="Menu Name:" style="width:100%">
        </div>
        <div style="margin-bottom:10px">
            <select name="menu_role" class="easyui-combobox" required="true" validType="menu_role" label="Menu Role:" style="width:100%">
                <% for(var i=0; i < role.length; i++) { %>
                    <option value="<%= role[i].role_code %>"><%= role[i].role_name %></option>
                <% } %>
            </select>
        </div>
        <div style="margin-bottom:10px">
            <input name="description" class="easyui-textbox" required="true" label="Description:" style="width:100%">
        </div>
        <div style="margin-bottom:10px">
            <input name="status" class="easyui-textbox" required="true" label="Status:" style="width:100%">
        </div>
    </form>
</div>
<div id="dlg-buttons4">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveMenu()" style="width:90px">Save</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg4').dialog('close')" style="width:90px">Cancel</a>
</div>

<script>
    var url;
    function newMenu(){
        $('#dlg4').dialog('open').dialog('center').dialog('setTitle','New Menu');
        $('#fm4').form('clear');
        url = 'menu/add-menu';
    }

    function editMenu(){
        var row = $('#dg4').datagrid('getSelected');
        if (row){
            $('#dlg4').dialog('open').dialog('center').dialog('setTitle','Edit Menu');
            $('#fm4').form('load',row);
            url = 'menu/update-menu?id='+row._id;
        }
    }

    function saveMenu(){
        $('#fm4').form('submit',{
            url: url,
            onSubmit: function(){
                return $(this).form('validate');
            },
            success: function(result){
                var result = eval('('+result+')');
                if (result.errorMsg){
                    $.messager.show({
                        title: 'Error',
                        msg: result.errorMsg
                    });
                } else {
                    $('#dlg4').dialog('close');        // close the dialog
                    $('#dg4').datagrid('reload');    // reload the user data
                }
            }
        });
    }
    function destroyMenu(){
        var row = $('#dg4').datagrid('getSelected');
        if (row){
            $.messager.confirm('Confirm','Are you sure you want to destroy this menu?',function(r){
                if (r){
                    $.post('menu/delete-menu',{id:row._id},function(result){
                        if (result.success){
                            $('#dg4').datagrid('reload');    // reload the user data
                        } else {
                            $.messager.show({    // show error message
                                title: 'Error',
                                msg: result.errorMsg
                            });
                        }
                    },'json');
                }
            });
        }
    }

</script>