<div title="Bot BCA" style="padding: 3px;">
    <table id="dg2" title="Account List" class="easyui-datagrid" url="/botbca/get-account"
        toolbar="#toolbar2" pagination="true"
        rownumbers="true" fitColumns="true" singleSelect="true">
        <thead>
            <tr>
                <th field="tanggal" width="50">Tanggal</th>
                <th field="nama_transaksi" width="50">Nama Transaksi</th>
                <th field="debit" width="50">Debit</th>
                <th field="credit" width="50">Credit</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar2">
        <a href="/botbca/bots" class="easyui-linkbutton" iconCls="icon-add" plain="true">Run</a>
    </div>
</div>
