<% include ../partials/header %>

    <div class="easyui-layout" style="width:100%;min-height:600px">
        <div data-options="region:'west',split:true" title="Menu" style="width:300px;">
            <div class="easyui-panel" style="padding:5px;width: 100%;height: 100%;">
                <ul class="easyui-tree">
                    <li>
                        <span>APPLICATION MENU</span>
                        <ul>
                            <li data-options="state:'closed'">
                            <span>SEND EMAIL</span>
                                <ul>
                                    <% for(var i=0; i < sendEmail.length; i++) { %>
                                        <li data-options="state:'closed'">
                                            <span><%= sendEmail[i] %></span>
                                            <ul>
                                                <li>
                                                    <span><a href="<%= sendEmail[i].replace(/\s/g, '').toLowerCase() %>/investor">INVESTOR</a></span>
                                                </li>
                                                <li>
                                                    <span><a href="<%= sendEmail[i].replace(/\s/g, '').toLowerCase() %>/selling-agent">SELLING AGENT</a></span>
                                                </li>
                                                <li>
                                                    <span><a href="<%= sendEmail[i].replace(/\s/g, '').toLowerCase() %>/courier">COURIER</a></span>
                                                </li>
                                            </ul>
                                        </li>
                                    <% } %>
                                </ul>
                            </li>
                            <% if(user.access_level == 1) { %>
                                <li data-options="state:'closed'">
                                    <span>ADMINISTRATOR</span>
                                    <ul>
                                        <li><a href="#" onclick="openTab('User Management')">USER MANAGEMENT</a></li>
                                        <li><a href="#" onclick="openTab('Role')">ROLE</a></li>
                                        <li><a href="#" onclick="openTab('Menu')">MENU</a></li>
                                    </ul>
                                </li>
                            <% } %>
                            <% for(var i=0; i < menu.length; i++) { %>
                                <li><a href="#" onclick="openTab('<%= menu[i].menu_name %>')"><%= menu[i].menu_name %></a></li>
                            <% } %>
                            <li><a href="#" onclick="openTab('Bot BCA')">BOT BCA</a></li>
                            <li><a href="/logout"> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div data-options="region:'center',title:'',iconCls:'icon-ok'">
            <div id="tt" class="easyui-tabs" style="width:100%;height:100%">
                <div title="Dashboard" data-options="closable:true" style="padding:20px;">
                    <h1>Wellcome - <%- user.email %></h1>
                    Logged in user's data :
                    <ul>
                        <li>Fullname : <%= user.fullname %></li>
                        <li>Username : <%= user.username %></li>
                        <li>Password : <%= user.password %></li>
                        <li>Email : <%= user.email %></li>
                        <li>Role : <%= user.access_level %></li>
                        <li>__v : <%= user.__v %></li>
                        <li>Language : <%= user.language %></li>
                        <li>Printing Proofile : <%= user.printing_profile %></li>
                        <li>Telephone : <%= user.telephone %></li>
                        <li>Use Popup : <%= user.use_popup %></li>
                        <li>User's POS : <%= user.user_POS %></li>
                    </ul>
                    <h4></h4>
                </div>
            </div>
                <style type="text/css">
                    a{
                        text-decoration: none;
                    }
                </style>
        </div>
    </div>
    <div id="dialog"></div>

<% include ../partials/footer %>
