<% include ../partials/header %>
    
    <style type="text/css">
        .alert{
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px;
        }
        .alert-danger{
            color: #a94442;
            background-color: #f2dede;
            border-color: #ebccd1;
        }
        .alert-success{
            color: #3c763d;
            background-color: #dff0d8;
            border-color: #d6e9c6;
        }
    </style>
    <div class="box-center" style="margin-bottom: 20px;">
		<% if(success_msg){ %>
			<%- success_msg %>
		<% } %>

		<% if(error_msg){ %>
			<%- error_msg %>
		<% } %>

		<% if(error){ %>
			<%- error %>
		<% } %>

        <% if(errors){ %>
            <% for(var i=0; i < errors.length; i++) { %>
               <div class="alert alert-danger"><%= errors[i].msg %></div>
            <% } %>
        <% } %>

        <center><h2>Robotik OPR BNI</h2></center>
        <form action="login" method="POST">
            <div class="easyui-panel" title="Login" style="width:100%;max-width:400px;padding:30px 60px;">
                <div style="margin-bottom:20px">
                    <label for="username" class="label-top">User Name:</label>
                    <input name="username" id="username" class="easyui-validatebox tb" data-options="required:true,validType:'length[3,10]'" style="width:300px;">
                </div>
                <div style="margin-bottom:20px">
                <label for="username" class="label-top">Password:</label>
                    <input name="password" class="easyui-passwordbox" prompt="Password" iconWidth="28" style="width:300px;height:34px;padding:10px">
                </div>
                <div id="recaptcha"></div>
                <input id="res-recaptcha" name="recaptcha" type="hidden">

                <div style="margin-bottom:10px;padding-top: 20px;">
                	<button id="loginButton" href="#" class="easyui-linkbutton" style="width:300px">Login</button>
                </div>
            </div>             
        </form>
        <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
    </script>
    </div>
</div>

<% include ../partials/footer %>
