<div title="Role" style="padding: 3px;">
    <table id="dg3" title="Role Setting" class="easyui-datagrid" url="/role/get-roles"
        toolbar="#toolbar3" pagination="true"
        rownumbers="true" fitColumns="true" singleSelect="true">
        <thead>
            <tr>
                <th field="role_name" width="50">Role Name</th>
                <th field="role_code" width="50">Role Code</th>
                <th field="description" width="50">Role Description</th>
                <th field="status" width="50">Status</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar3">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newRole()">New Role</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editRole()">Edit Role</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyRole()">Remove Role</a>
    </div>
</div>

<div id="dlg3" class="easyui-dialog" style="width:400px"
        closed="true" buttons="#dlg-buttons3">
    <form id="fm3" method="post" novalidate style="margin:0;padding:20px 50px">
        <div style="margin-bottom:20px;font-size:14px;border-bottom:1px solid #ccc">Role Information</div>
        <div style="margin-bottom:10px">
            <input name="role_name" class="easyui-textbox" required="true" label="Role Name:" style="width:100%">
        </div>
        <div style="margin-bottom:10px">
            <input name="role_code" class="easyui-textbox" required="true" label="Role Code:" style="width:100%">
        </div>
        <div style="margin-bottom:10px">
            <input name="description" class="easyui-textbox" required="true" label="Description:" style="width:100%">
        </div>
        <div style="margin-bottom:10px">
            <input name="status" class="easyui-textbox" required="true" label="Status:" style="width:100%">
        </div>
    </form>
</div>
<div id="dlg-buttons3">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveRole()" style="width:90px">Save</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg3').dialog('close')" style="width:90px">Cancel</a>
</div>

<script>
    var url;
    function newRole(){
        $('#dlg3').dialog('open').dialog('center').dialog('setTitle','New Role');
        $('#fm3').form('clear');
        url = 'role/add-role';
    }

    function editRole(){
        var row = $('#dg3').datagrid('getSelected');
        if (row){
            $('#dlg3').dialog('open').dialog('center').dialog('setTitle','Edit Role');
            $('#fm3').form('load',row);
            url = 'role/update-role?id='+row._id;
        }
    }

    function saveRole(){
        $('#fm3').form('submit',{
            url: url,
            onSubmit: function(){
                return $(this).form('validate');
            },
            success: function(result){
                var result = eval('('+result+')');
                if (result.errorMsg){
                    $.messager.show({
                        title: 'Error',
                        msg: result.errorMsg
                    });
                } else {
                    $('#dlg3').dialog('close');        // close the dialog
                    $('#dg3').datagrid('reload');    // reload the user data
                }
            }
        });
    }
    function destroyRole(){
        var row = $('#dg3').datagrid('getSelected');
        if (row){
            $.messager.confirm('Confirm','Are you sure you want to destroy this role?',function(r){
                if (r){
                    $.post('role/delete-role',{id:row._id},function(result){
                        if (result.success){
                            $('#dg3').datagrid('reload');    // reload the user data
                        } else {
                            $.messager.show({    // show error message
                                title: 'Error',
                                msg: result.errorMsg
                            });
                        }
                    },'json');
                }
            });
        }
    }

</script>