<div title="Subscription" style="padding: 3px;">
    <table id="desubscription" title="Subscription" class="easyui-datagrid" url="/pengirimanlaporanconfsubsandredem/get-data"
        toolbar="#tesubscription" pagination="false"
        rownumbers="false" fitColumns="false" singleSelect="false">
        <thead>
            <!-- <tr>
                <th field="tanggal" width="50">Tanggal</th>
                <th field="nama_transaksi" width="50">Nama Transaksi</th>
                <th field="debit" width="50">Debit</th>
                <th field="credit" width="50">Credit</th>
            </tr> -->
        </thead>
    </table>
    <div id="tesubscription">
        <a href="/pengirimanlaporanconfsubsandredem/run" class="easyui-linkbutton" iconCls="icon-add" plain="true">Run</a>
    </div>
</div>
